{
  "env": {
    "browser": true,
    "cypress/globals": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:cypress/recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["@typescript-eslint", "cypress", "prettier"],
  "rules": {
    "max-depth": ["warn", 1],
    "max-lines-per-function": ["warn", { "max": 10, "skipBlankLines": true, "skipComments": true }],
    "max-params": ["warn", 3],

    "prefer-template": "off"
  }
}
