{
  "env": {
    "browser": true,
    "cypress/globals": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "prettier/recommended",
    "plugin:cypress/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["@typescript-eslint", "cypress", "prettier"],
  "rules": {
    "max-depth": ["warn", 1],
    "max-lines-per-function": ["warn", { "max": 10 }],
    "max-params": ["warn", 3]
  }
}
